/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.index{
  padding-top: 50px;
 }

.form{
	position: absolute;
	top:150px;
	left:500px;
}
.form1{
	position: absolute;
	top:150px;
	left:500px;
}
.cpost{
  position: absolute;
  top:100px;
  left:490px;
}
.attach{
  position: absolute;
  top:250px;
  left:500px;
}
input[type=text],
input[type=email],
input[type=password],
select,
textarea
 {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
  width: 100%;
  margin-bottom: 15px;
}
textarea
{
  height: 100% !important;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #c91717;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
  width: 100%;
  text-decoration: none;
}
.cpost .btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: black;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
  width: 100%;
  text-decoration: none;
}
.form .glyphicon-user
{
	font-size: 24px;
	color: red;
}
.form .glyphicon-lock
{
	font-size: 24px;
	color: red;
	
}

.content{
  font-size: 30px;
  font-style: italic;
}
.active{
	color:#E01563;
	font-size: 32px;
}
p{
	font-size:15px;
	margin:5px 0
}
.para
{
	text-align: center;
}
.container-fluid{
	padding-bottom: 20px;
	padding-top: 10px;
}
.nav {
    
   font-size: 20px;
   
}
.nav a:hover {
  color: #c91717;
  text-decoration: none;   
}

.form1 .glyphicon

{
	font-size: 24px;
	color:black;
}
.partial .glyphicon
{
  font-size: 24px;
  color:black;
}
.attach .glyphicon{
  font-size:24px;
  color:red;
}